.icon {
    background-repeat: no-repeat;
}

.icon-16 {
    background-size: 16px 16px;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.icon-24 {
    background-size: 24px 24px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}
.icon-48 {
    background-size: 48px 48px;
}
.icon__dashboard {
    background-image: url(../../assets/icon/dashboard.png);
}

.icon__employee {
    background-image: url(../../assets/icon/dic-employee.png);
}

.icon__report {
    background-image: url(../../assets/icon/report.png);
}

.icon--save {
    background-image: url(../../assets/icon/save.svg);
}
.icon--warning {
    width: 48px;
    height: 48px;
    background: url(../../assets/img/Sprites.79cca840.svg) no-repeat -598px -455px;
}
.icon--alert {
    width: 48px;
    height: 48px;
    background: url(../../assets/img/Sprites.79cca840.svg) no-repeat -752px -455px;
}
.sprite_icon {
    background: url(../../assets/img/Sprites.79cca840.svg) no-repeat;
}