.input {
  height: 32px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #bbbbbb;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 250px;
  font-family: MISA Fonts;
}
.input__form {
  height: 32px;
  border-radius: 2px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #babec5;
  padding-left: 10px;
  padding-right: 10px;
  font-family: MISA Fonts;
  box-shadow: none;
}
textarea {
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #bbbbbb;
  padding: 16px;
  width: 100%;
}

.input:focus,
textarea:focus,
select:focus,
.input__form:focus {
  border-color: #2ca01c;
}

.input__icon {
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 220px;
  padding-left: 10px;
  padding-right: 10px;
}

.input__icon--search {
  background-image: url(../../assets/icon/search.png);
}
.input__icon--search:hover {
  cursor: pointer;
}

.input--required {
  color: red;
}

.input__error--required {
  border: 1px solid red;
}

input[type="radio"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: #e8e8e8;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #bbbbbb;
}

input[type="radio"]:focus-visible {
    outline-offset: 0;
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 1px #2ca01c;
    background-color: #2ca01c;
    border-width: 0.2rem;
}
