.input {
    height: 32px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 250px;
    font-family: MISA Fonts;
}
.input__form {
    height: 32px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
    font-family: MISA Fonts;
}
textarea {
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    padding: 16px;
    width: 100%;
}

.input:focus,
textarea:focus,
select:focus {
    border-color: #019160;
}

.input__icon {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 220px;
    padding-left: 10px;
    padding-right: 10px;
}

.input__icon--search {
    background-image: url(../../assets/icon/search.png);
}

.input--required {
    color: red;
}

.input__error--required {
    border: 1px solid red;
}