#btnRefresh {
  height: 24px;
  width: 24px;
  background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
  background-position: -423px -200px;
  cursor: pointer;
  border: none;
}

#btnDelete {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  border: 1px solid #bbbbbb;
  background-image: url(../../assets/icon/delete.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  cursor: pointer;
}

#btnDuplicate {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  border: 1px solid #bbbbbb;
  background-image: url(../../assets/icon/duplicate.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

button + button {
  margin-left: 10px;
}

table,
th {
  border: 1px solid #bbbbbb;
}

td {
  border: 1px dotted #bbbbbb;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

table {
  border-left: none;
  border-right: none;
}
.table__container {
}
.page__table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.table__content {
  width: calc(100% - 48px);
  height: calc(100% - 125px);
}

#tbEmployeeList {
  width: 100%;
}

.table__header th {
  background-color: #eceef1;
  text-transform: uppercase;
}
.table__paging {
  background-color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 2;
}
.sticky_header_left {
  position: sticky;
  left: 0;
  background-color: #eceef1;
  z-index: 2;
}

.sticky_header_left_1 {
  position: sticky;
  left: 60px;
  background-color: #eceef1;
  z-index: 2;
}

.sticky_body_left {
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 5;
}

.sticky_body_left_1 {
  position: sticky;
  left: 60px;
  background: #fff;
  z-index: 2;
}

#editButton {
  border: none;
  background-color: inherit;
  font-size: 13px;
  color: #0075c0;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
  background-position: -892px -359px;
  height: 16px;
  width: 24px;
  position: relative;
}
.dropbtn:focus {
  outline: 1px #0075c0 solid;
}
.dropdown {
  position: relative;
  padding-top: 1px;
}

.dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 25;
}

.dropdown-content a {
  color: black;
  padding: 8px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #4caf50;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #b8bcc3;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
