#btnRefresh {
    height: 24px;
    width: 24px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
    background-position: -423px -200px;
    cursor: pointer;
    border: none;
}

#btnDelete {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #bbbbbb;
    background-image: url(../../assets/icon/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    cursor: pointer;
}

#btnDuplicate {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #bbbbbb;
    background-image: url(../../assets/icon/duplicate.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

button+button {
    margin-left: 10px;
}