.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    background-color: #e9ebee;
    width: calc(100% - 178px);
}
.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.page__header-title {}

.page__header-button {}

.page__toolbar {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
}

.page__toolbar--left {
    margin-right: 16px;
}
.page__toolbar--left button {
    background-color: inherit;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    transform: translate(-100%);
}
.page__toolbar--right {}

.page__table {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    background-color: #fff;
    flex: 1;
    justify-content: space-between;
    margin: 20px 0;

}
.page__header--title {
    font-weight: 700;
    color: #111;
}
.page__footer {}