.header {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    box-sizing: border-box;
}

.header__left {
    width: 178px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    background-color: #38393d;
}

.header__sibar {
    width: 24px;
    height: 24px;
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -86px;
}


.header__logo {
    margin-left: 10px;
    flex: 1;
    height: 32px;
    background-image: url(../../assets/img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.header__right {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 24px 0 12px;
    height: 100%;
}

.user {
    display: flex;
    align-items: center;
}

.user__name {
    font-weight: 700;
}

.user__avatar {
    width: 32px;
    height: 32px;
    background-image: url(../../assets/icon/avatar-default.png);
    background-position: center;
    background-size: 32px;
    background-size: contain;
    margin-left: 10px;
}

#menuCollapseBtn {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
    background-position: -843px -30px;
    width: 24px;
    height: 24px;
    border: none;
    margin-right: 12px;
    cursor: pointer;
}

.right__header__1 {
    display: flex;
    justify-content: center;
    align-items: center;
}